{% extends 'base.html' %}
{% block pagetitle %}Step One{% endblock %}
{% block Title %}Step One{% endblock %}
{% block content %}
<p>This is a simple page to play the Monty Hall Game.</p>
<p>The rules are very simple:</p>
    <ul>
        <li>There are three doors. One has a prize and the other two are losers.</li>
        <li><b>The player picks one of three doors.</b></li>
        <li>Monty will open one of the other doors.</li>
        <li>The player then has the oppurtnity to switch thier choice or stick.</li>
        <li>The player wins if they have chosen the door hiding the prize.</li>
    </ul>

<form action="/play/step_one.html" method="POST">{% csrf_token %}
 {{ GuessForm.as_ul }}
<input type="submit" value="Submit" />
</form>


{% endblock %}